
body{
    background-color: #f3ecf8;
}

.layout-input{
    height: 30px;
}

.floor-container{
    position: absolute;
    top:30px;
}

.floor{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}

.floor-line{
    width:90vw;
    background-color: rgb(46, 2, 2);
    height: 5px;
}

.floor-number{
    /* color:#347900; */
    font-size: 20px;
    font-weight: bold;
}

.lift-contaiiner{
    position: relative;
}

.lift{
    height: 80px;
    width: 58px;
    background-color: gray;
    position: absolute;
    top:30px;
    left: 70px;
}

.upButton{
    /* padding: 10px 20px; */
    background-color: salmon;
    color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    width: 50px;
    padding: 5px 0;
}

.downButton{
    /* padding: 10px 20px; */
    background-color: salmon;
    color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 50px;
    padding: 5px 0;
}